html, body {
  margin: 0;
  padding: 0;
  background: white;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 70vh auto auto 200px;
  grid-template-areas:
    "hero hero"
    "sidebar sidebar"
    "content content"
    "footer footer"
}

.hero {
  grid-area: hero;
  background: rgb(0,0,50);
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js {
  height: 50%;
  position: absolute;
  z-index: 1;
}

.sidebar {
  grid-area: sidebar;
  background: #cfd8dc;
  min-height: 500px;
}

.content {
  grid-area: content;
  background: white;
}

.footer {
  grid-area: footer;
  background: black;
}

.splash {
  position: absolute;
  filter: invert(100%);
  width: 50%;
  z-index: 2;
}

.button {
    font-family: Gotham Rounded Light;
    position: absolute;
    border: 3px solid lightgray;
    color: lightgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    z-index: 2;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover {
  color: white;
  border: 3px solid white;
  background-color: #000025;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.superegg {

}


.post {
  width:100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.preview {
  min-height: 55px;
  background-color: #faf6ec;
  width:100%;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}

.preview__image:before {
  width: 100%;
  padding-bottom: 100%;
}

.preview__image {
  background-color: black;
  border-radius: 50%
}

.preview__blurb {
text-align: center;
}

.text {
  height: 220px;
  width: 100%;
  background-color: #faf6ec;
}


@keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes revealer-text {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}


	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}



@media (min-width: 800px) {
  body {
    grid-template-rows: 100vh auto 200px;
    grid-template-areas:
      "hero hero"
      "sidebar content"
      "footer footer"
  }

  .post {
    flex-direction: row;
    padding: 20px 10px;
  }

  .post:nth-of-type(even){
    flex-direction: row-reverse;
  }

  .preview {
    height: 100%;
    width: 30%;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    background-color: #faf6ec;
    display: flex;
    flex-direction: column;
    border-radius: 20%/20%;
    z-index: 1000;
  }

  .preview::before {
    border-radius: 2%/30%;
  }

  .preview::after {
    border-radius: 30%/2%;
  }

  .text {
    width: 65%;
    display: flex;
    align-items: center;
    line-height: 100%;
    margin-left: -100px;
    margin-right: -100px;
    border-radius: 12px;
    background-color: #faf6ec;
    width:100%;
    z-index: 1000;
  }

  .superegg {
      width:220px;
      height:220px;
      border-radius:20%/20%;
      background-color: #faf6ec;
      position:relative;
      z-index: 3
  }

  .superegg::before, .superegg::after {
      content:'';
      position:absolute;
      z-index:-1;
  }

  .superegg::before {
      border-radius: 2%/30%;
      top: 33px;
      bottom: 33px;
      right: -2px;
      left: -2px;
  }

  .superegg::after {
      border-radius: 30%/2%;
      left: 33px;
      right: 33px;
      top: -2px;
      bottom: -2px;
  }

  #particles-js {
    height: 100%
  }
}
