---
---
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic');

$items: 3;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 70vh auto auto auto;
  grid-template-areas:
    "navbar navbar"
    "hero hero"
    "sidebar sidebar"
    "content content"
    "footer footer";
  background: white;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

.wrapper.no-pad {
 padding-left:0;
 padding-right:0
}

.navigation {
  list-style-type:none;
  margin:0;
  padding:0;
}
.navigation li {
  display:inline-block;
  /*! padding-right:5px; */
  /*! height:33px; */
  /*! vertical-align:top */
}
.navigation li:last-child {
  padding-right:0
}
.navigation a {
  padding:5px;
  display:inline-block;
  transition:color 0.2s;
  -o-transform:color 0.2s;
  -moz-transform:color 0.2s;
  -webkit-transition:color 0.2s
}
.navigation a:hover {
  text-decoration:none;
}

.top-bar {
  display: grid;
  grid-area: navbar;
  text-align:left;
  padding:5px 0;
  background-color:#333;
  color:#efeae1;
  font-size:14px;
  height:43px
}

.top-bar h1 {
  font-size:inherit;
  display:inline-block;
  line-height:0;
  margin:0
}

.top-bar a {
  color:#efeae1
}

.top-bar a:hover {
  color: #d84315;
  text-decoration:none
}

.top-bar a.is-selected {
  color:#a29f99
}

.top-bar .navigation {
  display:inline-block
}

.top-bar .top-bar-right {
  float:right;
  line-height: 3;
}

.top-bar .top-bar-right .octicon {
  position:relative;
  top:1px;
  padding:5px
}

.top-bar .top-bar-right .tooltipped {
  padding-bottom:2px;
  margin-left:10px
}

.top-bar .top-bar-right .gravatar {
  height:22px;
  width:22px;
  vertical-align:-7px;
  margin-right:5px
}

.top-bar .minibutton {
  margin:4px 0
}

/* .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

.hero {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  grid-area: hero;
  background: #000020;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.splash {
  width: 50%;
  align-items: center;
  margin: auto;

}


a {
  text-decoration: none;
}

a.svg {
  position: relative;
  display: inline-block;
  filter: invert(90%);
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

//.navigation {
//  grid-area: navigation;
//}

.sidebar {
  background: #525252;
  grid-area: sidebar;
}

$p: 12px;
$w: 100%;
$n: 5;
$e: cubic-bezier(0,.5,.5,1.1);
$grey: #A6ADA7;
$pink: #F5C8BF;
$green: #AEBFAF;
$mint: #f2faf3;



.pinned-items {
  grid-area: pinned;
  background: #494949;
  display: none;
}

.footer {
  text-align: center;
  grid-area: footer;
  background: gray;
  padding: 10px 0;
}

.content {
  grid-area: content;
  background: white;
  margin: 20px;
  align-items: center;
}

.blog {
  font-family: Roboto;
  font-weight: lighter;
  border-radius: 12px;
}

.blog * {
  padding: 0 20px;
}

.blog__title {
  padding-top: 50px;
  font-size: 250%;
  font-family: Roboto;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 50px;
}

.blog__text {
  text-align: left;
  padding-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.blog__author {
  width: 100%;
  margin:auto;
  background-color: #faf6ec;
  display: flex;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  z-index: 1000;
}

.button {
    font-family: Roboto;
    width: 60%;
    margin: auto;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    z-index: 2;
    cursor: pointer;
}

.button:hover {
  color: white;
  border: 1px solid #4d4d4d;
  background-color: #000010;
}


.superegg {

}


.post {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.preview {
  min-height: 55px;
  max-height: 100px;
  background-color: #ffecb3;
  width:100%;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.preview * {
  height: 100%;
  vertical-align: middle;
}

.preview__image:before {
  padding-bottom: 100%;
}

.preview__image {
  display: none;
}

.preview__blurb {
  margin-left: 30px;
  vertical-align: middle;
  text-align: left;
}

.text {
  font-family: 'Roboto';
  color: black;
  text-decoration: none;
  width: 100%;
  background-color: #ffecb3;
}

.text * {
  margin-left: 25px;
}

.posts {
  padding-left: 0;
}

.employee {
  width: 100%;
  height: 220px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.employee:nth-of-type(even){
  flex-direction: row-reverse;
}

.employee__photo {
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20%/20%;
  z-index: 1000;
}

.employee__photo * {
  max-width:220px;
}

.employee__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.employee_bio {
  width: auto;
  display: flex;
  align-items: center;
  line-height: 100%;
  border-radius: 12px;
  height: 220px;
  z-index: 1000;
}

.project {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: row;
}

.project:nth-of-type(even){
  flex-direction: row-reverse;
}

.project__icon {
  height: 220px;
  max-height: none;
  width: 30%;
  max-width: 220px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.project__desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

@keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes revealer-text {

	0%, 50% {
		transform-origin: 0 50%;
	}

	60%, 100% {
		transform-origin: 100% 50%;
	}


	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media (min-width: 1100px) {
  body {
    grid-template-rows: auto 70vh auto auto auto;
    grid-template-areas: // serve mobile to everybody until we have a better solution
      "navbar navbar"
      "hero hero"
      "sidebar sidebar"
      "content content"
      "footer footer"
  }

  .button {
      font-family: Roboto;
      width: 30%;
      margin: auto;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      z-index: 2;
      cursor: pointer;
  }

  .posts{
    flex-direction: column;
    width: 100%;
  }

  .post {
    flex-direction: row;

  }

  .post:nth-of-type(even){
    flex-direction: row-reverse;
  }

  .preview {
    height: 220px;
    max-height: none;
    width: 30%;
    max-width: 220px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20%/20%;
    z-index: 1000;
  }

  .preview::before {
    border-radius: 2%/30%;
  }

  .preview::after {
    border-radius: 30%/2%;
  }

  .preview__image {
    display: block;
    height: 60%;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .preview__blurb {
    text-align: center;
    margin: auto;
  }

  .text {
    width: auto;
    display: flex;
    align-items: center;
    line-height: 100%;
    border-radius: 12px;
    height: 220px;
    z-index: 1000;
  }

  .superegg {
      width:220px;
      height:220px;
      border-radius:20%/20%;
      background-color: #faf6ec;
      position:relative;
      z-index: 3
  }

  .superegg::before, .superegg::after {
      content:'';
      position:absolute;
      z-index:-1;
  }

  .superegg::before {
      border-radius: 2%/30%;
      top: 33px;
      bottom: 33px;
      right: -2px;
      left: -2px;
  }

  .superegg::after {
      border-radius: 30%/2%;
      left: 33px;
      right: 33px;
      top: -2px;
      bottom: -2px;
  }

  .content {
    margin: 0 auto;
    width: 80%;
    align-self: center;
  }
}
