---
layout: default
---

<h1>{{ page.title }}</h1>
<ul class="posts">

{% for post in site.posts %}
  {% if post.categories contains 'blog' %}
      <div class="post">
        <div class="preview">
          <div class="preview__image"><object type="image/svg+xml" data="{{ post.picture }}"></object></div>
          <div class="preview__blurb">
            {{ post.title }}
            <br>
            {{ post.author }}<br><br>
          </div>
        </div>
        <a href="{{ post.url }}">
          <div class="text">
            <div>{{ post.content | strip_html | truncatewords:50}}</div>
            <br>
        </div>
      </a>
    </div>
  {% endif %}
{% endfor %}
</ul>
