<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#4682b4">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>embyr</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->


    <nav class="nav">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="http://microcloud.embyrtech.io">Projects</a>
    </nav>

    <header class="hero">
      <object type="image/svg+xml" data="/img/watermark.svg" style="height:100%;"></object>
    </header>



    <main class="content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="wrapper__footer">
      <div class="footer">
        <div class="footer__fire">
          <object type="image/svg+xml" data="/img/fire.svg" style="height: 100%;"></object>
        </div>
        <div class="footer__collab">Care to collaborate?</div>
        <div class="footer__social">
          <a href="https://github.com/embyr">GitHub</a>
          <a href="https://discord.gg/qDVYm7K">Discord</a>
          <a href="https://trello.com/embyr">Trello</a>
        </div>
        <div class="footer__nav">
          <a href="/">Home</a>
          <a href="/blog">Blog</a>
          <a href="microcloud.embyrtech.io">Projects</a>
        </div>
      </div>
    </footer>


    <!-- {% if site.google_analytics %}
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ site.google_analytics }}', 'auto');
          ga('send', 'pageview');
      </script>
    {% endif %} -->
  </body>
</html>
